*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right,rgb(61,187,237),rgb(2444,94,119));
    color: black;
}
.nav{
    background:linear-gradient(to right,rgb(2444, 94, 119),rgb(61, 187, 237));
    color:white;
    width: 100%;
    height: 80px;
    padding: 30px;
    font-size: 20px;
    box-sizing: border-box;
}
.nav ol{
    list-style-type: none;
    margin-left: 90%;
}
ol a:hover{
    color:blue;
}
ol a{
    text-decoration: none;
    color: white;
}
.intro h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color:black;
    text-indent: 50px;
    font-size: 60px;
    color: black;
    text-shadow:  0 0 20px white;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.intro h3{
    text-align: 50px;
    font-size: 35px;
    margin-left: 80px;
    padding: 10px;
    text-indent: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 30px white;
    margin: 20px;
    display: flex;
    margin-left: 20%;
}
.home{
    display:inline;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 13px;
    flex-direction: row;
}
.courses ul{
    display: inline-flex;
    list-style-type: none;
    text-indent: 90px;
    font-size: 23px;

}
ul a{
    text-decoration: none;
    color: whitesmoke;
}
.ul a:hover{
    color: maroon;
}
.p{
    text-indent: 50px;
    padding: 20px;
    font-size: 20px;
}
